<h1>Edit your task :</h1>
<p>Just edit it</p>

<%= form_for(@task) do |t| %>

  <%= t.label :title %>
  <%= t.text_field :title %>

  <%= t.label :description %>
  <%= t.text_field :description %>
  <%= t.select :status, options_for_select([['todo' ,'todo'], ['running', 'running'], ['done', 'done']]) %>

  <%= t.submit %>

<% end %>
