<h1>Welcome on your ToDo tasks manager</h1>


<h2>Quick links</h2>
<nav>
  <%= link_to "view all tasks list", tasks_path %>
  <%= link_to "create a new task", new_task_path %>
</nav>

<h2>Create a task :</h2>

<%= form_for(@task) do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :description %>
  <%= t.text_field :description %>
  <%= t.label :status %>
  <%= t.submit %>
<% end %>

<h2>Your tasks list :</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
        <%=link_to(task.title, task_path(task))%>
        ---
        <%= link_to "show", task_path(task) %>
        <%= link_to "edit", edit_task_path(task)%>
        <%= link_to "destroy", task_path(task), method: :delete%>
    </li>
  <% end %>
</ul>